@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');

h1{
  font-family: 'Coustard', serif;
  text-align: center;
  font-size: 90px;
}

h2{
  font-family: 'Coustard', serif;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  padding-bottom: 50px;;
}

#rock{
  background-image: url(images/rock.png);
  width:300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color:transparent;
  border: none;
  background-position:center;
}

#paper{
  background-image: url(images/paper.png);
  width:300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color:transparent;
  border: none;
  background-position:center;
}

#scissors{
  background-image: url(images/scissors.png);
  width:300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color:transparent;
  border: none;
  background-position:center;
}

.button-container{
  display: flex;
  justify-content: center;
  gap:50px;
}

.score-container{
  display: flex;
  flex-direction: column;
  text-align: center;

  font-family: 'Coustard', serif;
  font-size: 30px;
  padding-top: 50px;;
}